.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
}

.tickets-call-to-action {
  display: none;
}

@media (min-width: $mobile-width-limit) {
  .tickets-call-to-action {
    //display: inline-block;
    background: $color__highlight-gradient;
    border: 2px solid white;
    text-decoration: none;
    font-weight: 700;
    padding: 0.5em 1em;
    text-align: center;
  }
}


//////////////////

a.show-ticket-link {
  text-decoration: none;
  &:hover, &:focus, &:visited{
    color: white;
  }
}

.show-banner {
  margin-top: -100px;
  margin-left: 1em;
  margin-right: 1em;
  position: relative;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0, 0.3);
  border-radius: 9px;

  .banner-image {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    margin-bottom: -9px;
  }
  .ticket {
    background: $color__burnt-gradient;
    padding: 0.5em;
    font-family: $font__heading;

    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .details {
      font-family: 'Abel', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      font-size: 10pt;
      .show-name {
        display: block;
        font-size: 140%;
        font-family: 'Staatliches', sans-serif;
      }
    }
    .buy-now {
      span{
        font-family: 'Patua One', sans-serif;
        font-size: 70%;
        color: $color__gloc_burnt_purple;
      }
      text-decoration: none;
      background: rgba(white, 0.9);
      border-radius: 3px;
      padding: 0.1em;
      margin-top: 0.1em;
    }
  }
}

///////////////////
@media (min-width: 1200px) {
  .show-banner {
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;

    flex-direction: row;
    height: 200px;

    .banner-image {
      border-top-left-radius: 9px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 9px;
      object-fit: cover;
      width: 900px;
      height: 200px;
    }

    .ticket {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;

      border-top-left-radius: 0px;
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
      border-bottom-left-radius: 0px;

      .details {
        font-size: 16pt;

        .show-name {
          display: inline;
          font-size: 140%;
        }
        .show-dates {
          // border-top: 2px solid rgba(white, 0.7);
          font-size: 100%;
        }
        .show-location {
          font-size: 80%;
        }

      }
      .buy-now {
        span{
          font-family: 'Patua One', sans-serif;
          font-size: 90%;
        }
        border-radius: 3px;
        padding: 0.4em;
        margin-top: 0.4em;
      }
    }
  }
}
