h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font__heading;
	font-weight: 700;
	//display: inline-block;
}

.site-main {
	h1,
	h2,
	h3 {
		text-shadow: 1px 1px 0px $color__gloc_purple, 2px 2px 0px $color__gloc_orange;
	}

	h1 {
		font-size: 42px;
	}
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 32px;
	}

ul.wp-block-latest-posts {
	
	margin: 0;

	li {
		//@include left-border-gradient($color__gloc_purple, $color__gloc_orange, 0.2em);
		padding-left: 1.5em;
		margin-bottom: 1em;
		a {
			clear: both;
			font-family: $font__heading;
			font-weight: 700;
			display: inline-block;
			text-shadow: 1px 1px 0px $color__gloc_purple, 2px 2px 0px $color__gloc_orange;
			font-size: 32px;
			text-decoration: none;

			padding-bottom: 0.5em;
			@include bottom-border-transparent(0.2em);

			&:hover,
			&.focus {
				color: white;
				@include bottom-border-gradient($color__gloc_purple, $color__gloc_orange, 0.2em);
			}
		}
		div.wp-block-latest-posts__featured-image {
			float: right;
			margin-left: 1em;
		}
	}	
}
}

@media screen and (min-width: $mobile-width-limit) {
	.site-main h1 {
		font-size: 50px;
	}
}

