body, html {
    height: 100%;
}

.header-bar {
    //height: 80px;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    // background-color: $color__gloc_green_1;
    // background: linear-gradient(to left, $color__gloc_green_1, $color__gloc_green_2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    //height: 50px;
    padding: 1em;

    // border-width: 0px;
    // border-bottom: 5px solid;
    // border-image-slice: 1;
    // border-bottom-width: 5px;
    // border-image-source: $color__highlight-gradient;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  
    /* Set a specific height */
    height: 60%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    // text-align: center;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // color: white;

    padding-top: 25px;
	text-align: center;
	color: white;
  }

.header-rows {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.header-row {
    display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

.site-header {
    //background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 960px;
}

.site-branding {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.site-logo {
    height: 150px;    

    a > img {
        width: 100%;
        max-height: 150px;
    }

    .custom-logo-link {
        display: inline-block;
        height: 100%;
    }

    .custom-logo-link .custom-logo {
        display: block;
        max-height: 100%;
        width: auto;
    }
}

.site-title {
    justify-content: flex-start;
    align-items: baseline;

    h1,
    h3 {
        display: inline-block;
    }

    h1 {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 700;
        font-size: 38px;

        margin: 0;

        // background: -webkit-linear-gradient($color__gloc_purple, $color__gloc_orange);
        // -webkit-background-clip: text;
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
    }

    h3 {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 200;
        font-style: normal;

        margin: 0;

    }
}
