body,
html {
    height: 100%;
}

body.clear-header {
    background: black;
}

.home {
    .hero {
        height: 50%;
    }
}

.hero {
    color: #fff;
    padding: 1em;

    margin-top: 6em;
    .header-bar {
        margin-top: -6em;
    }

    height: 30%;
    background-color: black;
    background-position-x: center;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: cover; //100% auto;
    position: relative;

    @include bottom-border-gradient($color__gloc_purple, $color__gloc_orange, 0.5em);

    &:after {
        margin-left: -1em;
        position: absolute;
    }

    a.hero-home-link {
        text-decoration: none;
    }
}

.header-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.header-rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.site-logo {
    height: 80px;

    a > img {
        width: 100%;
        max-height: 150px;
    }

    .custom-logo-link {
        display: inline-block;
        height: 100%;
    }

    .custom-logo-link .custom-logo {
        display: block;
        max-height: 100%;
        width: auto;
    }
}

.site-branding {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h1,
    h3 {
        display: block;
        text-align: center;
    }

    h1 {
        font-family: "IntroCond-Black", sans-serif; //"Josefin Sans", sans-serif;
        text-shadow: 1px 1px 0px $color__gloc_purple, 2px 2px 0px $color__gloc_orange;
        font-weight: 700;
        font-size: 26px;

        margin: 0;
        margin-right: 0.5em;
        color: white;
    }

    h3 {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 700;
        color: darken(white, 5%);
        font-style: normal;
        font-size: 16px;

        margin: 0;
    }
}

@media (min-width: $mobile-width-limit) {
    .hero {
        background-position-y: 30%;
        background-size: cover;
    }
    .header-bar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }


    .header-rows {
        align-items: stretch;
        margin-top: -1em;
        padding-left: 1em;
    }

    .header-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .site-header {
        display: flex;
        flex-direction: column;
        max-width: 960px;
    }

    .site-logo {
        height: 100px;
    }

    .site-branding {
        justify-content: flex-start;
        align-items: baseline;

        h1,
        h3 {
            display: inline-block;
            text-align: left;
        }

        h1 {
            margin: 0;
            margin-right: 0.5em;
            font-size: 36px;
        }

        h3 {
            margin: 0;
            font-size: 18px;
        }
    }
}

@media (min-width: 1550px) {
    .hero {
        padding: 2em;

        &:after {
            margin-left: -2em;
        }
    }
    .header-rows {
        padding-left: 2em;
        margin-top: 0;
    }
    .site-branding {
        h1 {
            font-size: 52px;
        }
    }
    .site-logo {
        height: 150px;
    }
}
