.main-navigation {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 18px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	color: rgba(255, 255, 255, 0.8);
	padding: 0;
	margin-top: 2em;

	ul {
		display: none;
		flex-direction: row;
		flex-wrap: wrap;
		list-style-type: none;
		justify-content: center;
		margin: 0;
		padding: 0;

		ul {
			float: left;
			flex-direction: column;
			display: none;
			font-size: 14px;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		margin: 0;
		margin-right: 1em;

		a {
			padding-bottom: 0.5em;
			border-bottom: 3px solid transparent;
		}

		&:hover > a,
		&.focus > a {
			@include text-and-underline-gradient($color__gloc_purple, $color__gloc_orange, 0.2em);
		}

		&:hover > ul,
		&.focucs > ul {
			display: flex;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: inherit;
	}
}

@media screen and (min-width: 800px) {
	.main-navigation {
		margin-top: 0;
		ul {
			justify-content: flex-start;
		}

		li {
			margin-right: 2em;

			a {
				padding-top: 0.5em;
			}
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	display: none;
}

.main-navigation ul {
	display: flex;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
