a {
	color: $color__link;

	&:visited {
		color: $color__link;
	}

	&:hover,
	&:focus,
	&:active {
		color: white;
		text-shadow: none;
		@include text-gradient($color__gloc_purple, $color__gloc_orange);
	}

	&:focus {
		outline: none;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
