.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.widget-horizontal {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	section {
		margin: 0.2em;
	}

	ul {
		margin: 0;
		padding-inline-start: 0.5em;
	}
}