
$color__gloc_green_1: #3CAE48;
$color__gloc_green_2: #9EC73B;

$col-primary: #3cae48ff;
$col-secondary: #9ec73bff;
$col-highlight: #ce4760ff;
$col-blue: #456990ff;
$col-grey: #9aa0a8ff;

$color__gloc_green_1_light: lighten(#3CAE48, 10%);
$color__gloc_green_2_light: lighten(#9EC73B, 10%);

$color__gloc_purple: #AE3CA2;
$color__gloc_orange: #f75818;

$color__background-gradient: linear-gradient(to left, $color__gloc_green_1, $color__gloc_green_2);
$color__background-gradient-light: linear-gradient(to left, $color__gloc_green_1_light, $color__gloc_green_2_light);
$color__highlight-gradient: linear-gradient(to left, $color__gloc_purple, $color__gloc_orange);


$color__background-body: white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
