
$color__gloc_green_1: #3CAE48;
$color__gloc_green_2: #9EC73B;
$color__gloc_purple: #AE3CA2;
$color__gloc_orange: #f75818;

$col-primary: #3cae48ff;
$col-secondary: #9ec73bff;
$col-highlight: $color__gloc_orange;
$col-blue: #456990ff;
$col-grey: #9aa0a8ff;

$color__gloc_green_1_light: lighten(#3CAE48, 10%);
$color__gloc_green_2_light: lighten(#9EC73B, 10%);

$color__gloc_green_1_dark: darken(#3CAE48, 10%);
$color__gloc_green_2_dark: darken(#9EC73B, 10%);


$color__background-gradient: linear-gradient(to left, $color__gloc_green_1, $color__gloc_green_2);
$color__background-gradient-light: linear-gradient(to left, $color__gloc_green_1_light, $color__gloc_green_2_light);
$color__background-gradient-dark: linear-gradient(to left, $color__gloc_green_1_dark, $color__gloc_green_2_dark);
$color__highlight-gradient: linear-gradient(to left, $color__gloc_orange, $color__gloc_purple);

$color__page-background-outer: rgba(8,52,56,1);
$color__page-background-inner: rgba(15,22,38,1);

@mixin page-background {
  background: rgb(8,52,56);
  background: -moz-linear-gradient(90deg, $color__page-background-outer 0%, $color__page-background-inner 33%, $color__page-background-inner 66%, $color__page-background-outer 100%);
  background: -webkit-linear-gradient(90deg, $color__page-background-outer 0%, $color__page-background-inner 33%, $color__page-background-inner 66%, $color__page-background-outer 100%);
  background: linear-gradient(90deg, $color__page-background-outer 0%, $color__page-background-inner 33%, $color__page-background-inner 66%, $color__page-background-outer 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#083438",endColorstr="#083438",GradientType=1);
}

@mixin text-gradient($startColor, $endColor) {
  background-color: $startColor;
  background-image: linear-gradient(45deg, $startColor, $endColor);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

@mixin bottom-border-gradient($startColor, $endColor, $height: 0.5em) {
  &:after {
    background: linear-gradient(90deg, $startColor, $endColor);
    content:"";
    display: block;
    height: $height;
    width: 100%;
    bottom: 0;
  }
}

@mixin text-and-underline-gradient($startColor, $endColor, $height: 0.5em) {
  @include text-gradient($startColor, $endColor);
  @include bottom-border-gradient($startColor, $endColor, $height);
}

$color__background-body: black;
$color__background-screen: #0f0f0f;
$color__background-hr: #333;
$color__background-button: $color__gloc_orange;
$color__background-pre: #111;
$color__background-ins: #000930;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: white; 
$color__link-visited: white; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
